











UseDNS no









Protocol 2













SyslogFacility AUTHPRIV




































ChallengeResponseAuthentication no





























X11Forwarding yes





















Subsystem	sftp	/usr/lib/openssh/sftp-server






